<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="makecomment" method="post">
        <label for="mycomment">Σχόλιο</label><br>
        <textarea id="mycomment" name="mycomment" type="text" required placeholder="Πληκτρολογήστε το σχόλιο σας"></textarea><br>
        <button type="submit">Δημοσιεύστε το</button>
    </form>
</body>
</html>