<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="makepost" method="post">
        <label for="title">Τίτλος δημοσίευσης</label><br>
        <input id="title" name="title" type="text" maxlength="18" required><br>
        <label for="keimeno"></label><br>
        <textarea id="keimeno" name="keimeno" type="text" required maxlength="400"></textarea><br>
        <button type="submit">Δημοσίευσε το</button>
    </form>
</body>
</html>