    <a href="makepost">Ανάρτησε μια καινούργια δημοσίευση</a>
    {{#each posts}}
    <div class="one-post">
        <h3>{{this.title}}</h3>
        <text>{{posts.periexomeno}}</text>
        {{#flag}}
        <button method="post" action="deletepost" id={{posts._id}}></button>
        {{/flag}}
    </div>
    {{/each}}