<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>
<body>
    <div class="forum-posts">aelole
        {{#if posts}}
            {{#each posts}}
            <div class="title">{{this.title}}</div><br>
            <div class="date">{{this.createdat}}</div><br>
            <div class="user">{{this.usercreated}}</div><br>
            {{/each}}
        {{/if}}
    </div>
</body>

</html>