<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Εγγραφή νέου χρήστη</h1>
    <form action="register" method="post">
        <label for="username">'Ονομα χρήστη</label><br>
        <input name="username" type="text" id="username" required><br>
        <label for="userpassword">Κωδικός πρόσβασης</label><br>
        <input type="password" name="userpassword" id="userpassword" required><br>
        <label for="confirmpassword">Επιβεβαίωση κωδικού></label><br>
        <input name="confirmpassword" type="password" id="password" required><br>
        <label for="emailadress">Email</label><br>
        <input name="emailadress" type="email" id="emailadress" required><br>
        <button type="submit">Εγγραφή</button>
    </form>
</body>
</html>